<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easytable">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/logo_easytable"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_easytable_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyTable">
        <activity android:name=".AgregarIngrediente" />
        <activity android:name=".AgregarPlatillo" />
        <activity android:name=".ApartarLugar"/>
        <activity android:name=".BusquedaRestaurante" />
        <activity android:name=".DisponibilidadRecursos" />
        <activity android:name=".EditarEmpleado"/>
        <activity android:name=".GenerarQR" />
        <activity android:name=".Ingresar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListadoCodigosQR" />
        <activity android:name=".ListadoEditarEmpleado" />
        <activity android:name=".ListadoEliminarEmpleado" />
        <activity android:name=".ListadoEliminarRecursos" />
        <activity android:name=".ListadoEmpleados"/>
        <activity android:name=".ListadoOrdenes" />
        <activity android:name=".ListadoOrdenesPreparacion" />
        <activity android:name=".ListadoOrdenesTerminadas" />
        <activity android:name=".ListadoPlatillosOrdenados" />
        <activity android:name=".ListadoRecursos" />
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuLocal" />
        <activity android:name=".MeserosTrabajando" />
        <activity android:name=".Orden" />
        <activity android:name=".PagarCuenta" />
        <activity android:name=".PagoExitoso" />
        <activity android:name=".PrincipalUA" />
        <activity android:name=".PrincipalUC" />
        <activity android:name=".PrincipalUCO" />
        <activity android:name=".PrincipalUDL" />
        <activity android:name=".PrincipalUM"/>
        <activity android:name=".Queja" />
        <activity android:name=".Recursos" />
        <activity android:name=".RegistrarEmpleado" />
        <activity android:name=".RegistrarRestaurante1" />
        <activity android:name=".RegistrarRestaurante2" />
        <activity android:name=".RegistrarRestaurante3" />
        <activity android:name=".RegistrarUsuario" />
        <activity android:name=".Restaurante" />
        <activity android:name=".ResultadoBusquedaRestaurante" />
    </application>

</manifest>